{% extends 'base.html' %}
{% load mezzanine_tags keyword_tags %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    {% for twitter_content in page.get_content_model.twitter_contents.all %}
        <h3><a href="{{twitter_content.get_absolute_url}}"></h3> 
        {{twitter_content}}</a>

    {% endfor %}
{% endblock %}






