{% block meta_title %}{{ page.title }}{% endblock %}
{% extends 'base.html' %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    {% for twitter_content in page.get_content_model.twitter_contents.all %}
        <h3><a href="{{twitter_content.get_absolute_url}}"></h3> 
        {{twitter_content}}</a>
        {% tweets_for_user twitter_content.query as tweets %}
			{% if tweets %}
			<ul class="unstyled tweets">
			    {% for tweet in tweets %}
			    <li>
			        <img src="{{ tweet.profile_image_url }}" alt="">
			        <a href="http://twitter.com/{{ tweet.user_name }}">@{{ tweet.user_name }}</a>
			        {% if tweet.user_name != tweet.full_name %}<span class="name">@{{ tweet.full_name }}</span>{% endif %}
			        {% if tweet.is_retweet %}
			        <p><span class="recycle">&#x267B;</span>
			        <img class="retweet" src="{{ tweet.retweeter_profile_image_url }}">
			        <a href="http://twitter.com/{{ tweet.retweeter_user_name }}">@{{ tweet.retweeter_full_name }}</a></p>
			        {% endif %}
			        <div>{{ tweet.text|safe }}</div>
			        <span class="timespan">{{ tweet.created_at|timesince }} {% trans "ago" %}</span>
			    </li>
			    {% endfor %}
			</ul>
			{% endif %}
    	{% endfor %}
{% endblock %}






