{% extends 'base.html' %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block extra_head %}<script>$(".collapse").collapse()</script>{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    {% for twitter_content in page.get_content_model.twitter_contents.all %}
        <h3><a href="{{twitter_content.get_absolute_url}}">
        {{twitter_content}}</a></h3>
        	{% load twitter_tags i18n %}
			{% tweets_for_user twitter_content.value as tweets %}
				{% if tweets %}
				<button class="btn" data-toggle="collapse" data-target="#demo{{forloop.counter}}">
				Display Tweets
				</button>
				 
				<div id="demo{{forloop.counter}}" class="collapse"> 
					<ul class="unstyled tweets">
					    {% for tweet in tweets %}
					    <li>
					        <img src="{{ tweet.profile_image_url }}" alt="">
					        <a href="http://twitter.com/{{ tweet.user_name }}">@{{ tweet.user_name }}</a>
					        {% if tweet.user_name != tweet.full_name %}<span class="name">@{{ tweet.full_name }}</span>{% endif %}
					        {% if tweet.is_retweet %}
					        <p><span class="recycle">&#x267B;</span>
					        <img class="retweet" src="{{ tweet.retweeter_profile_image_url }}">
					        <a href="http://twitter.com/{{ tweet.retweeter_user_name }}">@{{ tweet.retweeter_full_name }}</a></p>
					        {% endif %}
					        <div>{{ tweet.text|safe }}</div>
					        <span class="timespan">{{ tweet.created_at|timesince }} {% trans "ago" %}</span>
					    </li>
					    {% endfor %}
					</ul>
				</div>
				{% endif %}
    {% endfor %}



{% endblock %}






