{% load mezzanine_tags i18n %}
{% trans "Powered by" %}
<a href="http://www.djangoproject.com">Django</a>
{% ifinstalled mezzanine.mobile %}
<span class="separator">|</span>
<a href="{% url set_device "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
{% endifinstalled %}
