{% extends 'base.html' %}
{% block right_panel %}
      {% block sidebar %}
          <ul class='nav nav-list'>
            <li class='nav-header'>
              Views
            </li>
            <li>
              <a href='{% url twitter_content_twittercontent_list %}'>
                List
              </a>
            </li>
            <li>
              <a href='{% url twitter_content_twittercontent_create %}'>
                Add
              </a>
            </li>
            {% if object %}
              <li>
                <a href='{% url twitter_content_twittercontent_update pk=object.pk %}'>
                  Update
                </a>
              </li>
              <li>
                <a href='{% url twitter_content_twittercontent_delete pk=object.pk %}'>
                  Delete
                </a>
              </li>
            {% endif %}
          </ul>
      {% endblock %}
{% endblock %}
{%block main %}
        {% block content %}
        {% endblock %}
{% endblock %}

