<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        Field
      </th>
      <th>
        Value
      </th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>
        type
      </td>
      <td>{{ object.type }}</td>
    </tr>

    <tr>
      <td>
        value
      </td>
      <td>{{ object.value }}</td>
    </tr>


    <tr>
      <td>
        created
      </td>
      <td>{{ object.created_at|timesince }} ago</td>
    </tr>

    <tr>
      <td>
        updated
      </td>
      <td>{{ object.updated_at|timesince }} ago</td>
    </tr>

  </tbody>
</table>
