<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        id
      </th>

        <th>
          type
        </th>

        <th>
          value
        </th>


        <th>
          created
        </th>

        <th>
          modified
        </th>

    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{{ object.get_absolute_url }}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>

          <td>{{ object.type }}</td>

          <td>{{ object.value }}</td>

          <td>{{ object.created_at }}</td>

          <td>{{ object.updated_at|timesince  }} ago</td>


      </tr>
    {% endfor %}
  </tbody>
</table>
