{% extends 'twitter_content/twittercontent/base.html' %}
{% block filename %}
  /home/chris/Programming/django/bite/bitetest/twitter_content/templates/twitter_content/twittercontent/twittercontent_archive.html
{% endblock %}
{% block title %}
  TwitterContent Archive Index
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url twitter_content_twittercontent_archive_index %}'>
        Archive Index
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url twitter_content_twittercontent_archive_index %}'>
    TwitterContent Archive Index
  </a>
{% endblock %}
{% block header-description %}
  A top-level index page showing the "latest" objects, by date.
{% endblock %}
{% block content %}
  <h2>
    By Year
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url twitter_content_twittercontent_year_archive year=date.year %}'>
          {{ date.year }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    Recent TwitterContents
  </h2>
  {% include 'twitter_content/twittercontent/object_table_list.html' %}
  {% include 'twitter_content/twittercontent/pagination.html' %}
{% endblock %}
