{% extends 'twitter_content/twittercontent/base.html' %}
{% block filename %}
  /home/chris/Programming/django/bite/bitetest/twitter_content/templates/twitter_content/twittercontent/twittercontent_form.html
{% endblock %}
{% block title %}
  {% if object %}
    Update TwitterContent
  {% else %}
    Create a New TwitterContent
  {% endif %}
{% endblock %}
{% block header-link %}
  {% if object %}
    <a href='{% url twitter_content_twittercontent_update pk=object.pk %}'>
      TwitterContent Update
    </a>
  {% else %}
    <a href='{% url twitter_content_twittercontent_create %}'>
      TwitterContent Create
    </a>
  {% endif %}
{% endblock %}
{% block header-description %}
  {% if object %}
    A view that displays a form for editing an existing object.
  {% else %}
    A view that displays a form for creating an object.
  {% endif %}
{% endblock %}
{% block content %}
  <form action='{% if object %}{% url twitter_content_twittercontent_update pk=object.pk %}{% else %}{% url twitter_content_twittercontent_create %}{% endif %}' method='post' encoding='utf-8'>
    <fieldset>
      {% csrf_token %}
      {{ form }}
      <div class='form-actions'>
        <button class='btn btn-large btn-success' type='submit'>
          {% if object %}
            Update
          {% else %}
            Create
          {% endif %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
