{% extends 'twitter_content/twittercontent/base.html' %}
{% block filename %}
  /home/chris/Programming/django/bite/bitetest/twitter_content/templates/twitter_content/twittercontent/twittercontent_confirm_delete.html
{% endblock %}
{% block title %}
  TwitterContent Confirm Delete
{% endblock %}
{% block header-link %}
  <a href='{% url twitter_content_twittercontent_delete pk=object.pk %}'>
    TwitterContent Confirm Delete
  </a>
{% endblock %}
{% block header-description %}
  A view that displays a confirmation page (on GET) and deletes an
  existing object (on POST).
{% endblock %}
{% block content %}
  <h2>
    Delete this TwitterContent?
  </h2>
  <br />
  {% include 'twitter_content/twittercontent/object_table_detail.html' %}
  <form action='' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <button class='btn btn-danger' type='submit'>
          Delete
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
