{% extends 'twitter_content/twittercontent/base.html' %}
{% block filename %}
  /home/chris/Programming/django/bite/bitetest/twitter_content/templates/twitter_content/twittercontent/twittercontent_archive_day.html
{% endblock %}
{% block title %}
  TwitterContent Day Archive
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url twitter_content_twittercontent_archive_index %}'>
        Archive Index
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url twitter_content_twittercontent_year_archive year=day.year %}'>
        Year Archive
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url twitter_content_twittercontent_month_archive year=day.year month=day.month %}'>
        Month Archive
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url twitter_content_twittercontent_day_archive year=day.year month=day.month day=day.day %}'>
        Day Archive
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url twitter_content_twittercontent_day_archive year=day.year month=day.month day=day.day %}'>
    TwitterContent Day Archive
  </a>
{% endblock %}
{% block header-description %}
  A day archive page showing all objects in a given day.
{% endblock %}
{% block content %}
  <h2>
    TwitterContents created on {{ day }}
  </h2>
  {% include 'twitter_content/twittercontent/object_table_list.html' %}
  {% include 'twitter_content/twittercontent/pagination.html' %}
{% endblock %}
