{% extends 'twitter_content/twittercontent/base.html' %}
{% block filename %}
  /home/chris/Programming/django/bite/bitetest/twitter_content/templates/twitter_content/twittercontent/twittercontent_archive_month.html
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url twitter_content_twittercontent_archive_index %}'>
        Archive Index
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url twitter_content_twittercontent_year_archive year=month.year %}'>
        Year Archive
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url twitter_content_twittercontent_month_archive year=month.year month=month.month %}'>
        Month Archive
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url twitter_content_twittercontent_month_archive year=month.year month=month.month %}'>
    TwitterContent Month Archive
  </a>
{% endblock %}
{% block header-description %}
  A monthly archive page showing all objects in a given month.
{% endblock %}
{% block content %}
  <h2>
    By Day
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url twitter_content_twittercontent_day_archive year=date.year month=date.month day=date.day %}'>
          {{ date }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    TwitterContents created in the month of {{ month|date:"M Y" }}
  </h2>
  {% include 'twitter_content/twittercontent/object_table_list.html' %}
  {% include 'twitter_content/twittercontent/pagination.html' %}
{% endblock %}
