{% extends 'twitter_content/twittercontent/base.html' %}
{% block filename %}
  /home/chris/Programming/django/bite/bitetest/twitter_content/templates/twitter_content/twittercontent/twittercontent_archive_year.html
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url twitter_content_twittercontent_archive_index %}'>
        Archive Index
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url twitter_content_twittercontent_year_archive year=year %}'>
        Year Archive
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url twitter_content_twittercontent_year_archive year=year %}'>
    TwitterContent Year Archive
  </a>
{% endblock %}
{% block header-description %}
  A yearly archive page showing all available months in a given year.
{% endblock %}
{% block content %}
  <h2>
    By Month
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url twitter_content_twittercontent_month_archive year=date.year month=date.month %}'>
          {{ date|date:"M Y" }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    TwitterContents created in the year {{ year }}
  </h2>
  {% include 'twitter_content/twittercontent/object_table_list.html' %}
  {% include 'twitter_content/twittercontent/pagination.html' %}
{% endblock %}
