{% extends "base.html" %}

{% load i18n mezzanine_tags %}

{% block full_meta_title %}
{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}
{% if settings.SITE_TAGLINE %} - {{ settings.SITE_TAGLINE }}{% endif %}
{% else %}{% trans "Home" %}{% endif %}
{% endblock %}

{% block title %}

{% endblock %}

{% block breadcrumb_menu %}

{% endblock %}

{% block main %}
<h2>{% trans "Welcome Bite Studios!" %}</h2>
<p>I have created this application using Mezzanine, Django and Python. Mezzanine is a CMS for Django which I have been using for all of my projects lately. I was previously using the Pinax project which is a collection of reusable applications bundled together. Both projects provide more out of the box and prevent having to write lots of boiler plate code however the content management features of Mezzanine twisted my arm. </p>
<p style = "text-align: center;">
    <a href="/report-a-bug"><img src="{{ STATIC_URL }}img/bug.png" /></a>
    <a href="/about#cookies"><img src="{{ STATIC_URL }}img/cookies.png" /></a>
    <a href="/about#python"><img src="{{ STATIC_URL }}img/page_python.png" /></a>
    <a href="/about#git"><img src="{{ STATIC_URL }}img/git.png" /></a>
    <a href="/about#github"><img src="{{ STATIC_URL }}img/github.png" /></a>
    <a href="/about#pip"><img src="{{ STATIC_URL }}img/compression.png" /></a>
    <a href="/about#fabric"><img src="{{ STATIC_URL }}img/fabric.png" /></a>
    <a href="/about#aws"><img src="{{ STATIC_URL }}img/aws.png" /></a>
    <a href="/about#ubuntu"><img src="{{ STATIC_URL }}img/ubuntu.png" /></a>
    <a href="/about#postgresql"><img src="{{ STATIC_URL }}img/postgresql.png" /></a>
    <a href="/about#nginx"><img src="{{ STATIC_URL }}img/nginx.png" /></a>
    <a href="/about#gunicorn"><img src="{{ STATIC_URL }}img/gunicorn.png" /></a>
</p>
<p>All modified projects are forked on my github and imported via pip. This gives me the ability to cherry pick upstream changes if I need them without risking breakages. This could also be achieved by pip version pinning but adding my own code would be impossible. The project is under Git version control and is published on <a href="https://github.com/chrisfranklin/bitetest"> Github </a>. The project uses Fabric for deployment to a debian production environment and all applications use SOUTH for schema migrations.</p>
{% endblock %}

{% block right_panel_old %}
<h3>{% trans "About Me" %}</h3>
<a href=""><img src="{{ STATIC_URL }}img/free_for_job.png" /></a>
<a href="https://github.com/chrisfranklin"><img src="{{ STATIC_URL }}img/portfolio.png" /></a>
<a href="mailto://chris@piemonster.me"><img src="{{ STATIC_URL }}img/mail.png" /></a>
{% endblock %}
